/*body, html {*/
/*    height: 100%;*/
/*}*/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 -15px;
}

body {
    background-image: url(../img/books.jpg);
    background-attachment: fixed;
    background-position: center center;
}

.navbar-brand img {
    width: 150px;
}

header div.menu {
    height: 80px;
    background: rgba(0, 0, 0, 0.8);
}

header .logoStyle {
    width: 69%;
    margin-top: 10px;
    margin-left: 30px;
}

header nav ul {
    list-style-type: none;
    padding-right: 50px;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 30px;
}

header nav ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #39b9ef;
    text-decoration: underline;
}

header div.call-to h1 {
    margin-top: 250px;
    margin-bottom: 0px;
    text-align: center;
    color: #fff;
    font-size: 72px;
    font-weight: bold;
}

header div.call-to h1 span {
    color: #2ebaee;
}

header div.call-to p {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

header div.call-to a {
    display: block;
    width: 215px;
    height: 50px;
    background: #2ebaee;
    color: #fff;
    border-radius: 24px;
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

table.table {
    background: rgba(0, 0, 0, 0.8);
    color: #D3D3D3;

}

form.forEditor {
    margin-top: 20px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #D3D3D3;
}

form.forTable {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #D3D3D3;
}

::placeholder {
    color: #D3D3D3 !important;
}

table.borderGrey {
    border: 1px solid dimgray;
    margin-top: 5px;
}

table.borderGrey > thead > tr > th {
    border: 1px solid darkslategray;
}

table.borderGrey > tbody > tr > td {
    border: 1px solid darkslategray;
}

h2.tableHeadline {
    margin-left: 10px;
}

div.clearPadding {
    padding: 0px;
}

.margin-for-tables {
    margin: 50px;
}

#map{
    /*margin: 50px;*/
    height:200px;
}

#footer {
    /*position:sticky;*/
    /*bottom:0;*/
}

div.login-form {
    color: #D3D3D3;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0.8);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 0.25rem;
}

.navbar {
    background: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
    margin-left: 20px;
    padding: 0px;
}

.navbar-brand img {
    width: 50%;
}

.bg-dark {
    background-color: rgba(0,0,0,.8)!important;
}

.navbar-nav {
    font-size: 14pt;
    padding-right: 20px;
}

.navbar-toggler {
    margin-right: 20px;
}

.navbar-collapse {
    margin-right: 10px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: rgba(0,0,0,.8)!important;
    color: white;
}

#mymenu a {
    background-color: rgba(0,0,0,.8)!important;
    color: dimgray;
}

#mymenu a:hover {
    color: #fff;
    background-color: rgba(255,255,255,.1);
}

.dropdown-divider {
    border-top: 1px solid dimgray;

}